body {
    /* background-color: yellow; */
}

.main-table-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.task-table {
    /* background-color: black;
    color: white; */
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    background-color: yellow;
    min-height: 200px;
    margin: 10px;
}

.heading {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    background-color: deepskyblue;
}

.heading .title{
    text-decoration: underline;
    text-transform: capitalize;

}

.task {
    background-color: white;
    padding: 10px 0px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.task .options{
    flex-basis: 3;
}